main {
    flex-grow: 1;
    padding: 0 1rem;
}

.fab {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149);
    position: absolute;
    right: 1.5rem;
    bottom: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: royalblue;
    z-index: 2;
    display: none;

    &:hover {
        background-color: rgb(124, 150, 226);
        transition: background-color 0.2s ease-in;
    }
}

.loading {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-table {
    width: 100%;
    height: 100%;
    overflow-x: auto;
    overflow-y: auto;
  }

@media screen and  (max-width: 800px) {
    main {
        width: 100%;
    }
}